@use "../sass/variable_mixin/mixins.scss" as mixins;
@use "../sass/variable_mixin/variables.scss" as variables;

.containerDropdowns {
  display: flex;
  flex-direction: column;
  .dropdown {
    display: flex;
    flex-direction: column;

    width: 100%;

    .dropdownHeader {
      width: 100%;
      margin-left: 100px;
      margin-right: 100px;
    }
  }
}
