$police: "Montserrat", sans-serif;
@mixin montserrat-style($weight) {
    font-family: $police;
    font-optical-sizing: auto; // Vous pouvez ajuster cela selon vos besoins
    font-weight: $weight;
    font-style: normal;
  }
  .custom-element {
    @include montserrat-style(400); 
    
  }